button {
  width: 150px;
  height: 40px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 25px;
  line-height: 40px;
}

svg {
  border: 5px solid gray;
  border-radius: 10%;
  padding: 10%;
}

h1 {
  font-size: 3rem;
  color: #ff6f61;
}

label {
  font-size: 1.5rem;
  color: #4fc3f7;
}

input[type="number"] {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
  margin-left: 1%;
}

input[type="checkbox"] {
  width: 30px;
}
