.staveDiv {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.buttonsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 50vw;
  height: 10vh;
}

.startButton {
  background-color: green;
}

.startButton:hover {
  opacity: 0.8;
}

.endButton {
  background-color: red;
}

.endButton:hover {
  opacity: 0.8;
}

.playGameButton {
  background-color: #4fc3f7;
}

.playGameButton:hover {
  opacity: 0.8;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.restartGameButton {
  background-color: #ffc107;
}

.restartGameButton:hover {
  opacity: 0.8;
}

.goBackButton {
  background-color: #9c27b0;
}

.goBackButton:hover {
  opacity: 0.8;
}

.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
